// Colours
$color--body: #4a4a4a;

// Line heights
$line-height--compact: 1.25;
$line-height--normal: 1.5;
$line-height--large: 1.75;

// Font weights
$font-weight--normal: 400;
$font-weight--semi-bold: 600;
$font-weight--bold: 800;
